@charset "utf-8";
@import url("jquery-ui.min.css");
@import url("basc.css");
@import url("layout.css");

body, div, p, ol, ul, li, img, a, h1, h2, h3, h4, h5, h6, form, span, iframe, dl, dt, dd, em { margin:0px; padding:0px; font-family:'Malgun Gothic','Nanum Gothic', NanumGothic, noto sans, Arial, Apple-Gothic, Helvetica75, sans-serif;  font-size:14px; color:#fff; }
