@charset "utf-8";
@import url("jquery-ui.min.css");
@import url("basc_en.css");
@import url("layout.css");

.sNavList li { padding-left: 15px;}
.navList > li:hover > .sNavList { padding: 15px 0;}
.roundBox00 { width: 98px; margin-left: 12px; letter-spacing: -1px; font-size: 14px;}
.listTableHead li { line-height: 15px;}
.overlay_content { padding: 50px 40px 40px 40px; }
.overlay_content_expiration { font-size:13px; }
.overlay_content_dday { font-size:13px; }

/* 스마트폰 */
@media only screen and (max-device-width : 767px){
    .navList > li > a { width: 55%; font-size: 15px;}
    .navList > li::before { width: 45%;}
    .sNavList { width: 45%;}
    .navList li:last-child .sNavList { width: 45%;}
    .idViewTxt { width: 220%; left: -120%; top: 94px;}
    .sNavList li { padding-left: 0;}
    .roundBox00 { width: 50px; margin-left: 0; }
    .dashDeviceL { width: 42%;}
    .dashDeviceR { width: 58%;}    
    .listTableDevice .listTableHead li:first-child::after { content: "Select All";}
    .listTableUser .listTableHead li:first-child::after { content: "Select All";}
    .overlay_content { padding: 25px 55px 30px 55px; }
}
    
@media only screen and (min-device-width : 768px) and (max-device-width : 1279px) {
	.overlay_content { padding:25px 40px 40px 60px; }
	.roundBox00 { width: 50px; margin-left: 0; }
}
    
/* 스마트폰 가로 */
@media only screen and (max-device-width : 767px) and (orientation : landscape){
    
}
@media only screen and (max-device-width : 321px) {
    .navList > li > a { font-size: 14px;}
}

